@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

body {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
}

#game-board img {
    width: 25%;
    height: 25%;
    padding: 5px;
    box-sizing: border-box;
}