@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

body {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
}

#game-board {
    margin-left: auto;
    margin-right: auto;
}

#game-board img {
    width: 10%;
    height: 10%;
    padding: 5px;
    box-sizing: border-box;
}